body {
    background-color: rgba(29, 59, 97);
    overflow-y: scroll;
}

app-navbar {
    display: flex;
    opacity: 0.7;
}

.top-mountain {
    width: 100%;
}

.top-bottom-space {
    height: 10vh;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-sidebar {
    float: left;
    width: 20%;
}

.router-container {
    width: 60vw;
    background-color: rgb(127, 197, 255);
}

.right-sidebar {
    float: right;
    width: 20%;
}

app-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    background-color: rgba(54, 136, 230, 0.671);
    flex-direction: row;
    justify-content: space-between;
    overflow-y: scroll;
}