body {
    background-color: rgba(29, 59, 97);
    min-height: 100%;
    overflow: scroll;
}

app-navbar {
    display: flex;
    opacity: 0.7;
}

.top-mountain {
    width: 100%;
}

.top-bottom-space {
    height: 10vh;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-sidebar {
    width: 20%;
}

.router-container {
    width: 100%;
    background-color: aquamarine;
}

.right-sidebar {
    width: 20%;
}